.topicsBlock {
	display: flex;
	align-items: center;
	justify-content: center;

	h3 {
		font-size: 36px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.16em;

		margin-top: 57px;
	}
}