.upload {
	.wrapper {
		margin: 77px auto;

		form {
			display: flex;
			flex-direction: column;
			row-gap: 30px;
			justify-content: space-between;
		}

		.title {
			font-size: 36px;
			text-transform: uppercase;
			letter-spacing: 0.16em;
			margin-bottom: 30px;
		}

		.sortSelector {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			align-items: flex-start;
			margin-bottom: 30px;

			label {
				font-weight: 600;
			}
		}

		.sortSelector,
		select,
		option {
			font-size: 24px;
		}
		select {
			border: 2px solid black;
		}
		select[multiple] {
			width: 30%;
			background: #ffffff00;
			border: none;
			padding: 0 10px 0 0;

			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background: #000;
				border-radius: 4px;
			}

			option {
				background: #fff;
				margin-bottom: 2px;
				border: 2px solid black;
				&:checked {
					background-color: #000000;
					color: white;
				}
				&:hover {
					opacity: 0.7;
				}
			}
		}
		.addCategoryInput {
			label {
				font-weight: 600;
				font-size: 24px;
				row-gap: 10px;
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;
			}
		}
	}
}

.loadLabel {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.imgPreview {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 500px;
	background: #f0f0f0;
	border-radius: 7px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 7px;
	}
}

.loadPreviewBlock,
.loadModelBlock {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.addModelForm {
	.loadImg,
	.loadModel,
	.submit,
	.addCategoryButton {
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;

		background: #1c1c1c;
		color: #fff;
		font-size: 24px;
		letter-spacing: 0.1em;

		padding: 10px 20px;

		border-radius: 7px;
		border: none;

		transition: 0.3s ease all;

		&:hover {
			transform: translateY(-5px);
		}
	}

	.submit {
		width: 250px;
	}

	p {
		font-size: 24px;
		letter-spacing: 0.1em;
	}
}

.addDescriptionBlock {
	.modelNameLabel,
	.descriptionLabel {
		display: flex;
		flex-direction: column;
		font-size: 24px;
		margin-bottom: 30px;
		font-weight: 600;
	}
	input,
	textarea {
		padding: 10px;
		border-radius: 7px;
		font-size: 20px;
		transition: 0.3s ease all;
		border: 2px solid black;

		&:active {
			background: #fff;
		}
		&:focus {
			opacity: 1;
			background: #fff;
			&:hover {
				opacity: 1;
			}
		}
		&:hover {
			opacity: 0.7;
		}
	}
	input {
		width: 40%;
	}
	textarea {
		width: 100%;
		height: 350px;

		resize: none;
	}
}

.downloadAccess {
	margin-top: 30px;

	label {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 24px;
	}

	input[type='checkbox'] {
		width: 20px;
		height: 20px;
		cursor: pointer;
		appearance: none;
		border: 2px solid black;
		border-radius: 4px;

		&:checked {
			background-color: #000;
			position: relative;

			&::after {
				content: '✓';
				color: white;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 18px;
			}
		}
	}
}

@media (width <= 1200px) {
	.upload {
		.wrapper {
			.title {
				font-size: 32px;
			}
			select[multiple] {
				width: 50%;
			}
		}
		.imgPreview {
			width: 90%;
		}
		input {
			width: 60%;
		}
	}
}
@media (width <= 768px) {
	.upload {
		.wrapper {
			.title {
				font-size: 26px;
			}
			p,
			label,
			select,
			option,
			button,
			.addCategoryInput label {
				font-size: 22px;
			}
			select[multiple] {
				width: 100%;
			}
		}
		.imgPreview {
			width: 100%;
			height: 300px;
		}
		input {
			width: 100%;
		}
	}
}
